body {
  margin: 0.5rem;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  border: white solid 5px;
  background-color: white;
}

.panel-main img,
.mikrografies img {
  width: 100%;
  height: auto;
}

.mikrografies {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.mikrografies img {
  min-width: 200px;
  margin: 5px;
  opacity: 1;
}

img.activeThumb {
  opacity: 0.5;
}

