#events-display{
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#events-display ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}
#events-display ul li {
   
    flex: 1 0 47%;
    margin: 3px 10px 3px 10px;
    
}
#events-display ul li {
    display: flex;
    justify-content:start;
    text-decoration: none;
    color: black;
}
.event-info{
    margin-left: 10px;
}
#events-display ul li a img{
    min-width: 200px;
    max-width: 50%;
    max-height: 300px;
}
.event-info h2{
    font-size: 18px;
 }