#events-display{
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#events-display ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}
#events-display ul li {
    min-height: 200px;
    flex: 1 0 47%;
    margin: 2px 10px 2px 10px;
    
}
#events-display ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    text-decoration: none;
    color: black;
}
.event-info{
    margin-left: 10px;
}
#events-display ul li a img{
    flex: 1 0 48%;
    
    min-width: 200px;
    max-width: 50%;
    max-height: 200px;
    object-fit: contain;
}
.event-info h2{
    font-size: 18px;
 }
 .event-info{
     flex: 1 0 48%;
 }