.black-footer {
  color: white;
  background-color:#282d32;
  left: 0;
  bottom: 0;
  padding: 0px;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footh2 {
  margin-top:5px;
  margin-bottom:12px;
  /* font-weight:bold; */
  font-size:18px;
  color: white;
  text-align:center;
  font-family: Open Sans Condensed;
}
.footh1 {
  margin-top:0;
  margin-bottom:12px;
  /* font-weight:bold; */
  line-height: 1.7;
  font-size: 1.5em;
  letter-spacing: 5px;
  font-family: Jura, sans-serif;
  text-decoration: none;
  color: white;
}
.footh1:hover{
  color: white;
}

.black-footer ul {
  padding:0;
  list-style:none;
  line-height:1.5;
  font-size:14px;
  margin-bottom:0;
}

.black-footer ul a {
  color: white;
  text-decoration:none;
  opacity:0.6;
}

.black-footer ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .black-footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.black-footer .item.textf {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .black-footer .item.textf {
    margin-bottom:0;
  }
}

@media (max-width:991px) {
  .black-footer .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.black-footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;

}


.black-footer .item.social > a:hover {
  opacity:0.9;
}

.black-footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
background: #7c8812;
color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}