.col-carousel{
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
    position: relative; /* Make container relative to allow button positioning */
    width: 100%;
}
.goodimg{
    position: relative;
    width: 60%; /* Fix the image width so it doesn't stretch unevenly */
}
.goodimg img{
    width: 100%; /* Ensure the image takes up full space of its container */
    max-height: 40vh;
    object-fit: cover; /* Ensure consistent sizing and aspect ratio */
}

.carousel_button {
    position: absolute;
    top: 50%; /* Align buttons vertically centered */
    transform: translateY(-50%); /* Fix for vertical centering */
    z-index: 10; /* Ensure the buttons appear above the images */
}


#carousel_button_left{
    left: 0;
}

#carousel_button_right{
    right: 0;
}

.carousel_button button{
    font-size: 80px;
    background-color: white;
    color: #922222;
    height: 200px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
}

.goodimg:hover .overlay{
    opacity: 0.4;
}

.text {
    font-weight: bold;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 8%;
    left: 20px;
    text-align: center;
}

.awhiteline {
    text-decoration: none;
    color:white;
}

.awhiteline:hover{
    color: white;
}