<h3>{{viewTitle}}</h3>

<a href="http://localhost:9999/exhibits">Προσθέστε/Τροποποιήστε εκθέματα</a><br>
<a href="http://localhost:9999/events">Προσθέστε/Τροποποιήστε εκδηλώσεις</a>


{{!-- <script src='../../static/js/scriptupload.js'></script> --}}