<style>

    a {
        color:#922222;
    }
</style>
<h3>{{viewTitle}}</h3>
<br>
<h4>{{admin}}</h4>
<br>
<a href="/exhibits" style="font-size: 150%;">Προσθέστε/Τροποποιήστε εκθέματα</a>
<br>
<a href="/events" style="font-size: 150%;">Προσθέστε/Τροποποιήστε εκδηλώσεις</a>


{{!-- <script src='../../static/js/scriptupload.js'></script> --}}