<style>

    a {
        color:#922222;
    }
</style>
<div style="background-color: #fff;margin-top: 25px;padding:20px; max-width:100%; margin-left:35.5%; margin-bottom:5%; border-radius:25px">
<h3>{{viewTitle}}</h3>
<br>
<h4>Admin</h4>
<br>
<a href="/exhibits" style="font-size: 150%;">Προσθέστε/Τροποποιήστε εκθέματα</a>
<br>
<a href="/events" style="font-size: 150%;">Προσθέστε/Τροποποιήστε εκδηλώσεις</a>
<br>
<a href="/tickets/list" style="font-size: 150%;">Δείτε τα εισιτήρια που έχουν κοπεί</a>
</div>

{{!-- <script src='../../static/js/scriptupload.js'></script> --}}