<h3>{{viewTitle}}</h3>
<br>
<h4>{{admin}}</h4>
<br>
<a href="/exhibits">Προσθέστε/Τροποποιήστε εκθέματα</a>
<br>
<a href="/events">Προσθέστε/Τροποποιήστε εκδηλώσεις</a>


{{!-- <script src='../../static/js/scriptupload.js'></script> --}}